@using TvShows.Web.Controllers
@using Umbraco.Cms.Core.Services
@inject IContentTypeService ContentTypeService
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	IPublishedContent searchPage = Model.Root().FirstChild<SearchPage>();
	var search = searchPage as SearchPage;
}

@if (searchPage != null)
{
	<form action="@searchPage.Url()">
		<div class="sb-search sb-it">
			<h4 class="sb-title">@search.SearchTitle</h4>
			<input type="text" placeholder="@search.SearchPlacehoder" name="query">
		</div>
	</form>
}