@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
	IPublishedContent root = Model.Root();
	var signUp = Model.Root().Children().Where(x => x.ContentType.Alias == AuthenticationPage.ModelTypeAlias).First();
	var login = Model.Root().Children().Where(x => x.ContentType.Alias == Login.ModelTypeAlias).First();
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@root.Value("siteName")</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://img.icons8.com/nolan/64/tv.png" type="image/x-icon" />
    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/plugins.css">
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	<script src="~/scripts/tvShowLibrary.js" defer></script>
	<script src="~/scripts/app.js" defer></script>
</head>
	
<body>
	<!-- BEGIN | Header -->
	<header class="ht-header">
		<div class="container">
			@await Html.PartialAsync("layout/Nav")
		</div>
	</header>
	<!-- END | Header -->

	<div class="hero common-hero"></div>

	<div class="page-single">
		@RenderBody()
	</div>
    
	<!-- footer section-->
	@await Html.PartialAsync("layout/Footer")
</body>
</html>
