@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AuthenticationPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Basic.cshtml";
}
<div class="container">
    @await Html.GetBlockGridHtmlAsync(Model, "contentGrid")
</div>