@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.CreateRequest>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Forms.Web

@{
	Layout = "_Basic.cshtml";
}
<div class="container">
	@Html.RenderUmbracoFormDependencies(Url)
	@Model.Value("create")
</div>
