@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Login>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Basic.cshtml";
}

<div class="page-single">
    <div class="container">
        @await Html.GetBlockGridHtmlAsync(Model, "loginContent")
    </div>
</div>