@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Request>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
	var root = Model.Root();
}
<div class="container" style="color: #fff">
	<h1>Show requests</h1>

	<!-- Tab links -->
	<div class="tab">
		@if (Model.Children().Where(x => x.IsVisible()).Count() > 0)
		{
			foreach (var child in Model.Children().Where(x => x.IsVisible()))
			{
				<a href="@child.Url(Model.GetCultureFromDomains())"><button class="tablinks" onclick="openCity(event, 'London')">@child.Name</button></a>
			}
		}
	</div>

	
</div>
