@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var root = Model.Root() as HomePage;
}

@await Html.PartialAsync("Search")

<div class="sb-cate sb-it">
	<h4 class="sb-title">@root.CategoryTitle</h4>
	<ul>
		<li><a href="#">Awards (50)</a></li>
		<li><a href="#">Box office (38)</a></li>
		<li><a href="#">Film reviews (72)</a></li>
		<li><a href="#">News (45)</a></li>
		<li><a href="#">Global (06)</a></li>
	</ul>
</div>
<div class="sb-recentpost sb-it">
	<h4 class="sb-title">@root.ListPopular</h4>
	<div class="recent-item">
		<span>01</span><h6><a href="#">Korea Box Office: Beauty and the Beast Wins Fourth</a></h6>
	</div>
	<div class="recent-item">
		<span>02</span><h6><a href="#">Homeland Finale Includes Shocking Death </a></h6>
	</div>
	<div class="recent-item">
		<span>03</span><h6><a href="#">Fate of the Furious Reviews What the Critics Saying</a></h6>
	</div>
</div>
<div class="sb-tags sb-it">
	<h4 class="sb-title">@root.TagTitle</h4>
	<ul class="tag-items">
		<li><a href="#">Batman</a></li>
		<li><a href="#">film</a></li>
		<li><a href="#">homeland</a></li>
		<li><a href="#">Fast & Furious</a></li>
		<li><a href="#">Dead Walker</a></li>
		<li><a href="#">King</a></li>
		<li><a href="#">Beauty</a></li>
	</ul>
</div>
