@model TvShows.Web.Models.ViewComponentModels.ReviewModel;
@using TvShows.Web.Controllers

@using (Html.BeginUmbracoForm<TvShowReviewController>("Submit"))
{
	<h4>Leave a comment</h4>
	@Html.ValidationSummary()
	<div class="row">
	</div>
	<div class="row">
		<div class="col-md-12">
			@Html.TextAreaFor(model => model.Message, new { placeholder = "Message" })
		</div>
	</div>
	<input class="submit" type="submit" placeholder="submit">
}
